# Ignore when calculating language stats
src/ui/fonts/* linguist-vendored

# Ignore CoreAudio when calculating language stats
src/audio/OSXDriver/PublicUtility/* linguist-vendored

# Allow CRLF for Windows batch files
*.bat text eol=crlf

# Convert all line endings to Unix-style LF
text eol=lf
