[submodule "src/libs/googletest"]
	path = src/libs/googletest
	url = https://github.com/symboxtra/googletest
[submodule "src/libs/portaudio"]
	path = src/libs/portaudio
	url = https://github.com/symboxtra/portaudio
