[Desktop Entry]
Version=0.0
Name=HulaLoop
GenericName=Audio Recorder
Exec=hulaloop
Icon=hulaloop-logo
Type=Application
Comment[en_US.UTF-8]=Audio Recording. Redifined.
